/* --- 该处参数默认不需要更改 --- */
$baseFontSize: 40px; // pc 以 w: 1920px, f: 38px布局
$baseWidth: 1920px;
$MbaseFontSize: 32px; // mobile 以 w: 375px, f: 32px(16px*2)布局
$MbaseWidth: 375px;

$pageMinWidth: 1200px;  // pc页面最小宽度

/* --- 按实际设计稿宽度更改 --- */
$designWidthPc: 1920px;     // pc设计稿宽度
$designWidthMobile: 750px;  // mobile设计稿宽度

$FontSize: $baseFontSize * ($designWidthPc / $baseWidth);    // pc相应设计稿宽度下的 fontSize
$MFontSize: $MbaseFontSize * ($designWidthMobile / $MbaseWidth);    // mobile相应设计稿宽度下的 fontSize

@function pxTorem($px) {    // px -> rem
    @return $px / $FontSize * 1rem;
}
@function MpxTorem($px) {
    @return $px / $MFontSize * 1rem;
}